### Ejercicio de Estadística Descriptiva

In [1]:
#Importar la libreria de Pandas
import pandas as pd
#Importar librerías de Numpy
import numpy as np
#Importar para plotear
import matplotlib.pyplot as plt

In [2]:
#Leer el fichero del Titanic - Test
file = %pwd
file = file + "/test.csv"

titanic = pd.read_csv(file, sep=",")

In [4]:
#Un pequeño listado del CSV
titanic.head(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S

In [31]:
#Analizamos las variables que tiene
titanic.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [37]:
#Tabla de frecuencias
titanic.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [39]:
#Atributos. ¿Queremos saber que atributos hay?
titanic.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [40]:
#Vamos a calcular varias funciones como la suma, media de todos los atributos
for i in titanic.columns:
    #OJO, para que no sume valores que no numéricos hay que poner una condición como esta
    if titanic[i].dtype!=np.object:
        print("El atributo %s - Suma: %.2f | Media: %.2f | Elementos: %.2f"%(i,titanic[i].sum(), titanic[i].mean(), titanic[i].count()))

El atributo PassengerId - Suma: 460009.00 | Media: 1100.50 | Elementos: 418.00
El atributo Pclass - Suma: 947.00 | Media: 2.27 | Elementos: 418.00
El atributo Age - Suma: 10050.50 | Media: 30.27 | Elementos: 332.00
El atributo SibSp - Suma: 187.00 | Media: 0.45 | Elementos: 418.00
El atributo Parch - Suma: 164.00 | Media: 0.39 | Elementos: 418.00
El atributo Fare - Suma: 14856.54 | Media: 35.63 | Elementos: 417.00

In [29]:
#Tabla de frecuencias
#frecuencia=pd.DataFrame()
frecuencia=pd.crosstab(index=titanic['Pclass'],columns='Pclass')
frecuencia['Frec_Abs']=pd.value_counts(titanic["Pclass"])
#Esto ordena por el indice - frecuencia.sort_index()
frecuencia['Frec_Rel']=frecuencia['Frec_Abs']/len(titanic["Pclass"])
frecuencia['Frec_Por']=frecuencia['Frec_Rel']*100
frecuencia['Frec_Abs_Acum']=frecuencia['Frec_Abs'].cumsum()
frecuencia['Frec_Rel_Acum']=frecuencia['Frec_Abs_Acum']/len(titanic["Pclass"])
frecuencia

col_0   Pclass  Frec_Abs  Frec_Rel   Frec_Por  Frec_Abs_Acum  Frec_Rel_Acum
Pclass
1          107       107  0.255981  25.598086            107       0.255981
2           93        93  0.222488  22.248804            200       0.478469
3          218       218  0.521531  52.153110            418       1.000000

In [50]:
#Esta función genera un Tabla de Frecuencias para cualquier DataFrame y nombre de columna que no sea un string/object
def tabla_de_frecuencias(dframe,columna):
    frecuencia=pd.crosstab(index=dframe[columna],columns=columna)
    frecuencia['Frec_Abs']=pd.value_counts(dframe[columna])
    #Esto ordena por el indice - frecuencia.sort_index()
    frecuencia['Frec_Rel']=frecuencia['Frec_Abs']/len(dframe[columna])
    frecuencia['Frec_Por']=frecuencia['Frec_Rel']*100
    frecuencia['Frec_Abs_Acum']=frecuencia['Frec_Abs'].cumsum()
    frecuencia['Frec_Rel_Acum']=frecuencia['Frec_Abs_Acum']/len(dframe[columna])
    return frecuencia

#Programa que devuelve todas las frecuencias
tabla_frecuencias=[]
for i in titanic.columns:
    #OJO, para que no sume valores que no numéricos hay que poner una condición como esta
    if titanic[i].dtype!=np.object:
        tabla_frecuencias.append(tabla_de_frecuencias(titanic,i))

#Ahora vamos a listar cada una de las tablas de Frecuencias

In [44]:
tabla_frecuencias[0]
#PassengerId, no tiene sentido

col_0,PassengerId,Frec_Abs,Frec_Rel,Frec_Por,Frec_Abs_Acum,Frec_Rel_Acum
PassengerId,,,,,,
892,1,1,0.002392,0.239234,1,0.002392
893,1,1,0.002392,0.239234,2,0.004785
894,1,1,0.002392,0.239234,3,0.007177
895,1,1,0.002392,0.239234,4,0.009569
896,1,1,0.002392,0.239234,5,0.011962
897,1,1,0.002392,0.239234,6,0.014354
898,1,1,0.002392,0.239234,7,0.016746
899,1,1,0.002392,0.239234,8,0.019139
900,1,1,0.002392,0.239234,9,0.021531
901,1,1,0.002392,0.239234,10,0.023923
902,1,1,0.002392,0.239234,11,0.026316
903,1,1,0.002392,0.239234,12,0.028708
904,1,1,0.002392,0.239234,13,0.031100
905,1,1,0.002392,0.239234,14,0.033493
906,1,1,0.002392,0.239234,15,0.035885
907,1,1,0.002392,0.239234,16,0.038278
908,1,1,0.002392,0.239234,17,0.040670
909,1,1,0.002392,0.239234,18,0.043062
910,1,1,0.002392,0.239234,19,0.045455
911,1,1,0.002392,0.239234,20,0.047847
912,1,1,0.002392,0.239234,21,0.050239
913,1,1,0.002392,0.239234,22,0.052632
914,1,1,0.002392,0.239234,23,0.055024
915,1,1,0.002392,0.239234,24,0.057416
916,1,1,0.002392,0.239234,25,0.059809
917,1,1,0.002392,0.239234,26,0.062201
918,1,1,0.002392,0.239234,27,0.064593
919,1,1,0.002392,0.239234,28,0.066986
920,1,1,0.002392,0.239234,29,0.069378
921,1,1,0.002392,0.239234,30,0.071770
...,...,...,...,...,...,...
1280,1,1,0.002392,0.239234,389,0.930622
1281,1,1,0.002392,0.239234,390,0.933014
1282,1,1,0.002392,0.239234,391,0.935407
1283,1,1,0.002392,0.239234,392,0.937799
1284,1,1,0.002392,0.239234,393,0.940191
1285,1,1,0.002392,0.239234,394,0.942584
1286,1,1,0.002392,0.239234,395,0.944976
1287,1,1,0.002392,0.239234,396,0.947368
1288,1,1,0.002392,0.239234,397,0.949761
1289,1,1,0.002392,0.239234,398,0.952153
1290,1,1,0.002392,0.239234,399,0.954545
1291,1,1,0.002392,0.239234,400,0.956938
1292,1,1,0.002392,0.239234,401,0.959330
1293,1,1,0.002392,0.239234,402,0.961722
1294,1,1,0.002392,0.239234,403,0.964115
1295,1,1,0.002392,0.239234,404,0.966507
1296,1,1,0.002392,0.239234,405,0.968900
1297,1,1,0.002392,0.239234,406,0.971292
1298,1,1,0.002392,0.239234,407,0.973684
1299,1,1,0.002392,0.239234,408,0.976077
1300,1,1,0.002392,0.239234,409,0.978469
1301,1,1,0.002392,0.239234,410,0.980861
1302,1,1,0.002392,0.239234,411,0.983254
1303,1,1,0.002392,0.239234,412,0.985646
1304,1,1,0.002392,0.239234,413,0.988038
1305,1,1,0.002392,0.239234,414,0.990431
1306,1,1,0.002392,0.239234,415,0.992823
1307,1,1,0.002392,0.239234,416,0.995215
1308,1,1,0.002392,0.239234,417,0.997608
1309,1,1,0.002392,0.239234,418,1.000000

In [45]:
tabla_frecuencias[1]
#Pclass

col_0   Pclass  Frec_Abs  Frec_Rel   Frec_Por  Frec_Abs_Acum  Frec_Rel_Acum
Pclass
1          107       107  0.255981  25.598086            107       0.255981
2           93        93  0.222488  22.248804            200       0.478469
3          218       218  0.521531  52.153110            418       1.000000

In [46]:
tabla_frecuencias[2]
#Para la edad no vale, hay que crear rangos

col_0  Age  Frec_Abs  Frec_Rel  Frec_Por  Frec_Abs_Acum  Frec_Rel_Acum
Age
0.17     1         1  0.002392  0.239234              1       0.002392
0.33     1         1  0.002392  0.239234              2       0.004785
0.75     1         1  0.002392  0.239234              3       0.007177
0.83     1         1  0.002392  0.239234              4       0.009569
0.92     1         1  0.002392  0.239234              5       0.011962
1.00     3         3  0.007177  0.717703              8       0.019139
2.00     2         2  0.004785  0.478469             10       0.023923
3.00     1         1  0.002392  0.239234             11       0.026316
5.00     1         1  0.002392  0.239234             12       0.028708
6.00     3         3  0.007177  0.717703             15       0.035885
7.00     1         1  0.002392  0.239234             16       0.038278
8.00     2         2  0.004785  0.478469             18       0.043062
9.00     2         2  0.004785  0.478469             20       0.047847
10.00    2         2  0.004785  0.478469             22       0.052632
11.50    1         1  0.002392  0.239234             23       0.055024
12.00    2         2  0.004785  0.478469             25       0.059809
13.00    3         3  0.007177  0.717703             28       0.066986
14.00    2         2  0.004785  0.478469             30       0.071770
14.50    1         1  0.002392  0.239234             31       0.074163
15.00    1         1  0.002392  0.239234             32       0.076555
16.00    2         2  0.004785  0.478469             34       0.081340
17.00    7         7  0.016746  1.674641             41       0.098086
18.00   13        13  0.031100  3.110048             54       0.129187
18.50    3         3  0.007177  0.717703             57       0.136364
19.00    4         4  0.009569  0.956938             61       0.145933
20.00    8         8  0.019139  1.913876             69       0.165072
21.00   17        17  0.040670  4.066986             86       0.205742
22.00   16        16  0.038278  3.827751            102       0.244019
22.50    1         1  0.002392  0.239234            103       0.246411
23.00   11        11  0.026316  2.631579            114       0.272727
...    ...       ...       ...       ...            ...            ...
38.00    3         3  0.007177  0.717703            243       0.581340
38.50    1         1  0.002392  0.239234            244       0.583732
39.00    6         6  0.014354  1.435407            250       0.598086
40.00    5         5  0.011962  1.196172            255       0.610048
40.50    1         1  0.002392  0.239234            256       0.612440
41.00    5         5  0.011962  1.196172            261       0.624402
42.00    5         5  0.011962  1.196172            266       0.636364
43.00    4         4  0.009569  0.956938            270       0.645933
44.00    1         1  0.002392  0.239234            271       0.648325
45.00    9         9  0.021531  2.153110            280       0.669856
46.00    3         3  0.007177  0.717703            283       0.677033
47.00    5         5  0.011962  1.196172            288       0.688995
48.00    5         5  0.011962  1.196172            293       0.700957
49.00    3         3  0.007177  0.717703            296       0.708134
50.00    5         5  0.011962  1.196172            301       0.720096
51.00    1         1  0.002392  0.239234            302       0.722488
53.00    3         3  0.007177  0.717703            305       0.729665
54.00    2         2  0.004785  0.478469            307       0.734450
55.00    6         6  0.014354  1.435407            313       0.748804
57.00    3         3  0.007177  0.717703            316       0.755981
58.00    1         1  0.002392  0.239234            317       0.758373
59.00    1         1  0.002392  0.239234            318       0.760766
60.00    3         3  0.007177  0.717703            321       0.767943
60.50    1         1  0.002392  0.239234            322       0.770335
61.00    2         2  0.004785  0.478469            324       0.775120
62.00    1         1  0.002392  0.239234            325       0.777512
63.00    2         2  0.004785  0.478469            327       0.782297
64.00    3         3  0.007177  0.717703            330       0.789474
67.00    1         1  0.002392  0.239234            331       0.791866
76.00    1         1  0.002392  0.239234            332       0.794258

[79 rows x 6 columns]

In [70]:
#Una manera de calcular intervalos
pd.interval_range(0,titanic['Age'].max(),periods=10)

IntervalIndex([(0.0, 7.6], (7.6, 15.2], (15.2, 22.799999999999997], (22.799999999999997, 30.4], (30.4, 38.0], (38.0, 45.599999999999994], (45.599999999999994, 53.199999999999996], (53.199999999999996, 60.8], (60.8, 68.39999999999999], (68.39999999999999, 76.0]]
              closed='right',
              dtype='interval[float64]')

In [29]:
import math as m
#Vamos a calcular el Recorrido y la amplitud
#R=Final-Inicial
recorrido=titanic['Age'].max()-titanic['Age'].min()
#Redondeamos al entero superior ceil redondea por exceso / floor redondea por defecto
recorrido=m.ceil(recorrido)
#Calculamos la amplitud
#Estos serán los intervalos
#0-9
#10-19
#20-29
#30...
#El método cut te permite agrupar datos
bins=[0,10,20,30,40,50,60,70,80,90,100]
names=["0-9","10-19","20-29","30-39","40-49","50-59","60-69","70-79","80-89","90-99"]
tabla_auxiliar=pd.cut(titanic["Age"],bins,labels=names)

tabla_edad=pd.crosstab(index=tabla_auxiliar,columns='Frec_Abs')
#Ojo hay que quitar los NaN y habría que utilizar una función. Tal vez notnull().values.any() -> Esto nos dice si hay algún valor NaN y meterlo en un bloque If
tabla_edad['Frec_Rel']=tabla_edad['Frec_Abs']/len(titanic['Age'].dropna())
tabla_edad['Frec_Por']=tabla_edad['Frec_Rel']*100
tabla_edad['Frec_Abs_Acum']=tabla_edad['Frec_Abs'].cumsum()
tabla_edad['Frec_Rel_Acum']=tabla_edad['Frec_Abs_Acum']/len(titanic['Age'].dropna())
tabla_edad

col_0  Frec_Abs  Frec_Rel   Frec_Por  Frec_Abs_Acum  Frec_Rel_Acum
Age
0-9          22  0.066265   6.626506             22       0.066265
10-19        47  0.141566  14.156627             69       0.207831
20-29       131  0.394578  39.457831            200       0.602410
30-39        55  0.165663  16.566265            255       0.768072
40-49        46  0.138554  13.855422            301       0.906627
50-59        20  0.060241   6.024096            321       0.966867
60-69        10  0.030120   3.012048            331       0.996988
70-79         1  0.003012   0.301205            332       1.000000

In [53]:
tabla_frecuencias[3]
#SibSp

col_0  SibSp  Frec_Abs  Frec_Rel   Frec_Por  Frec_Abs_Acum  Frec_Rel_Acum
SibSp
0        283       283  0.677033  67.703349            283       0.677033
1        110       110  0.263158  26.315789            393       0.940191
2         14        14  0.033493   3.349282            407       0.973684
3          4         4  0.009569   0.956938            411       0.983254
4          4         4  0.009569   0.956938            415       0.992823
5          1         1  0.002392   0.239234            416       0.995215
8          2         2  0.004785   0.478469            418       1.000000

In [55]:
tabla_frecuencias[4]
#Parch

col_0  Parch  Frec_Abs  Frec_Rel   Frec_Por  Frec_Abs_Acum  Frec_Rel_Acum
Parch
0        324       324  0.775120  77.511962            324       0.775120
1         52        52  0.124402  12.440191            376       0.899522
2         33        33  0.078947   7.894737            409       0.978469
3          3         3  0.007177   0.717703            412       0.985646
4          2         2  0.004785   0.478469            414       0.990431
5          1         1  0.002392   0.239234            415       0.992823
6          1         1  0.002392   0.239234            416       0.995215
9          2         2  0.004785   0.478469            418       1.000000

In [56]:
tabla_frecuencias[5]
#Tarifa
#Este es igual que el de Edad, hay que agrupar

col_0     Fare  Frec_Abs  Frec_Rel  Frec_Por  Frec_Abs_Acum  Frec_Rel_Acum
Fare
0.0000       2         2  0.004785  0.478469              2       0.004785
3.1708       1         1  0.002392  0.239234              3       0.007177
6.4375       2         2  0.004785  0.478469              5       0.011962
6.4958       1         1  0.002392  0.239234              6       0.014354
6.9500       1         1  0.002392  0.239234              7       0.016746
7.0000       2         2  0.004785  0.478469              9       0.021531
7.0500       2         2  0.004785  0.478469             11       0.026316
7.2250       9         9  0.021531  2.153110             20       0.047847
7.2292       9         9  0.021531  2.153110             29       0.069378
7.2500       5         5  0.011962  1.196172             34       0.081340
7.2833       1         1  0.002392  0.239234             35       0.083732
7.5500       4         4  0.009569  0.956938             39       0.093301
7.5750       1         1  0.002392  0.239234             40       0.095694
7.5792       1         1  0.002392  0.239234             41       0.098086
7.6292       1         1  0.002392  0.239234             42       0.100478
7.6500       2         2  0.004785  0.478469             44       0.105263
7.7208       1         1  0.002392  0.239234             45       0.107656
7.7250       1         1  0.002392  0.239234             46       0.110048
7.7333       3         3  0.007177  0.717703             49       0.117225
7.7500      21        21  0.050239  5.023923             70       0.167464
7.7750      10        10  0.023923  2.392344             80       0.191388
7.7792       1         1  0.002392  0.239234             81       0.193780
7.7958       4         4  0.009569  0.956938             85       0.203349
7.8208       1         1  0.002392  0.239234             86       0.205742
7.8292       1         1  0.002392  0.239234             87       0.208134
7.8500       1         1  0.002392  0.239234             88       0.210526
7.8542       8         8  0.019139  1.913876             96       0.229665
7.8792       6         6  0.014354  1.435407            102       0.244019
7.8875       1         1  0.002392  0.239234            103       0.246411
7.8958      11        11  0.026316  2.631579            114       0.272727
...        ...       ...       ...       ...            ...            ...
65.0000      3         3  0.007177  0.717703            362       0.866029
69.5500      4         4  0.009569  0.956938            366       0.875598
71.2833      1         1  0.002392  0.239234            367       0.877990
73.5000      2         2  0.004785  0.478469            369       0.882775
75.2417      2         2  0.004785  0.478469            371       0.887560
75.2500      1         1  0.002392  0.239234            372       0.889952
76.2917      1         1  0.002392  0.239234            373       0.892344
78.8500      1         1  0.002392  0.239234            374       0.894737
79.2000      2         2  0.004785  0.478469            376       0.899522
81.8583      2         2  0.004785  0.478469            378       0.904306
82.2667      2         2  0.004785  0.478469            380       0.909091
83.1583      3         3  0.007177  0.717703            383       0.916268
90.0000      1         1  0.002392  0.239234            384       0.918660
93.5000      2         2  0.004785  0.478469            386       0.923445
106.4250     1         1  0.002392  0.239234            387       0.925837
108.9000     1         1  0.002392  0.239234            388       0.928230
134.5000     3         3  0.007177  0.717703            391       0.935407
135.6333     1         1  0.002392  0.239234            392       0.937799
136.7792     2         2  0.004785  0.478469            394       0.942584
146.5208     1         1  0.002392  0.239234            395       0.944976
151.5500     2         2  0.004785  0.478469            397       0.949761
164.8667     2         2  0.004785  0.478469            399       0.954545
211.3375     1         1  0.002392  0.239234            400       0.956938
211.5000     4         4  0.009569  0.956938            404       0.966507
221.7792     3         3  0.007177  0.717703            407       0.973684
227.5250     1         1  0.002392  0.239234            408       0.976077
247.5208     1         1  0.002392  0.239234            409       0.978469
262.3750     5         5  0.011962  1.196172            414       0.990431
263.0000     2         2  0.004785  0.478469            416       0.995215
512.3292     1         1  0.002392  0.239234            417       0.997608

[169 rows x 6 columns]

In [11]:
#Vamos a ver el Intervalo
intervalo=titanic['Fare'].max() - titanic['Fare'].min()
intervalo

512.3292

In [17]:
len(titanic['Fare'].sort_values(axis=0))

418

In [5]:
len(titanic['Fare'].dropna())

417

In [11]:
#Creamos una función para hacer el cálculo
def tabla_de_frecuencias_agrupadas(dframe,columna,dframe_aux):
    #Miramos si hay NaN
    if dframe[columna].isnull().values.any():
        tamaño=len(dframe[columna].dropna())
    else:
        tamaño=len(dframe[columna])
    
    frecuencia=pd.crosstab(index=dframe_aux,columns='Frec_Abs')
    frecuencia['Frec_Rel']=frecuencia['Frec_Abs']/tamaño
    frecuencia['Frec_Por']=frecuencia['Frec_Rel']*100
    print(frecuencia)
    frecuencia['Frec_Abs_Acum']=frecuencia['Frec_Abs'].cumsum()
    frecuencia['Frec_Rel_Acum']=frecuencia['Frec_Abs_Acum']/tamaño
    return frecuencia

#El método cut te permite agrupar datos
bins=[0,100,200,300,400,500,600]
names=["0-99","100-199","200-299","300-399","400-499","500-599"]
tabla_auxiliar=pd.cut(titanic['Fare'],bins,labels=names)

#Llamamos a la función
tabla_de_frecuencias_agrupadas(titanic,'Fare',tabla_auxiliar)

col_0    Frec_Abs  Frec_Rel   Frec_Por
Fare
0-99          384  0.920863  92.086331
100-199        13  0.031175   3.117506
200-299        17  0.040767   4.076739
500-599         1  0.002398   0.239808

col_0    Frec_Abs  Frec_Rel   Frec_Por  Frec_Abs_Acum  Frec_Rel_Acum
Fare
0-99          384  0.920863  92.086331            384       0.920863
100-199        13  0.031175   3.117506            397       0.952038
200-299        17  0.040767   4.076739            414       0.992806
500-599         1  0.002398   0.239808            415       0.995204

In [97]:
len(titanic['Fare'].dropna())

417

In [42]:
#Creamos una función para hacer el cálculo
def tabla_de_frecuencias_agrupadas(dframe,columna,dframe_aux):
    #Miramos si hay NaN
    if dframe[columna].isnull().values.any():
        tamaño=len(dframe[columna].dropna())
    else:
        tamaño=len(dframe[columna])
    
    frecuencia=pd.crosstab(index=dframe_aux,columns='Frec_Abs')
    frecuencia['Frec_Rel']=frecuencia['Frec_Abs']/tamaño
    frecuencia['Frec_Por']=frecuencia['Frec_Rel']*100
    frecuencia['Frec_Abs_Acum']=frecuencia['Frec_Abs'].cumsum()
    frecuencia['Frec_Rel_Acum']=frecuencia['Frec_Abs_Acum']/tamaño
    return frecuencia

#El método cut te permite agrupar datos
bins=[0,50,100,150,200,250,300,350,400,450,500,550,600]
names=["0-49","50-99","100-149","150-199","200-249","250-299","300-349","350-399","400-449","450-499","500-549","550-599"]
tabla_auxiliar=pd.cut(titanic['Fare'],bins,labels=names)
#Llamamos a la función
tabla_de_frecuencias_agrupadas(titanic,'Fare',tabla_auxiliar)

417

col_0    Frec_Abs  Frec_Rel   Frec_Por  Frec_Abs_Acum  Frec_Rel_Acum
Fare
0-49          335  0.803357  80.335731            335       0.803357
50-99          49  0.117506  11.750600            384       0.920863
100-149         9  0.021583   2.158273            393       0.942446
150-199         4  0.009592   0.959233            397       0.952038
200-249        10  0.023981   2.398082            407       0.976019
250-299         7  0.016787   1.678657            414       0.992806
500-549         1  0.002398   0.239808            415       0.995204

In [13]:
#Ojo porque el intervalo es abierto de inicio y cerrado de salida (...]
len(titanic[(titanic['Fare']>=0)&(titanic['Fare']<99)])

386

In [53]:
prueba=pd.DataFrame()
prueba.iloc('1','2')


iris.loc[(iris.petal_width<=1),'nueva_variable'] = '1. <= 1' 
iris.loc[(iris.petal_width>1) & (iris.petal_width<2),'nueva_variable'] = '2. 1-2' 
iris.loc[(iris.petal_width>=2),'nueva_variable'] = '3. >= 2'

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given