# Introduction to Data Analysis with Python


<img src="https://www.python.org/static/img/python-logo.png" alt="yogen" style="width: 200px; float: right;"/>
<br>

# Objectives

* Handle tabular data with `pandas`

# The Python scientific stack: SciPy

Python Main Data Libraries
NumPy: Base N-dimensional array package

SciPy library: Fundamental library for scientific computing

Matplotlib: Comprehensive 2D Plotting

IPython: Enhanced Interactive Console

Sympy: Symbolic mathematics

pandas: Data structures & analysis

## Saving our work to Google Drive

Colab is a very convenient environment, but an ephemeral one. Let's first configure our notebook to save our work to Google Drive, where it can be persisted.

In [ ]:
import os
drive_loc = '/content/gdrive'
files_loc = os.path.join(drive_loc, 'MyDrive', 'pdsfiles')

from google.colab import drive
drive.mount(drive_loc)

Let's create a directory to hold all our work and make sure it's there:

In [ ]:
!mkdir -p {files_loc}
!ls {files_loc}

## `pandas`

Distinct set of requirements that pandas introduces:

- Data structures with labeled axes supporting automatic or explicit data alignment. This prevents common errors resulting from misaligned data and working with differently-indexed data coming from different sources.

- Integrated time series functionality.

- The same data structures handle both time series data and non-time series data.

- Arithmetic operations and reductions (like summing across an axis) would pass on the metadata (axis labels).

- Flexible handling of missing data.

- Merge and other relational operations found in popular database databases (SQL-based, for example).

### Getting started with pandas

First, always remember to check the [API Reference](https://pandas.pydata.org/pandas-docs/stable/reference/index.html).

![Read the effing manual](https://i.kym-cdn.com/photos/images/newsfeed/000/017/668/Mao_RTFM_vectorize_by_cmenghi.png?1318992465)

Convention: when you see `pd`, it means the imported `Pandas` module. We'll be combining it with Numpy as well:

In [ ]:
import pandas as pd
import numpy as np

Pandas is evolving. If you look around in the Internet or articles/books, you may find things that go back to Pandas 0.21. In our case, in the included Colab supported runtime, we've got:

In [ ]:
pd.__version__

...which is quite updated.

Pandas Data Structures are **Series** and **Dataframes**. While they are not a universal solution, they provide a solid, easy-to-use foundation to data mangling tooling in the Data Science world.

### Series

A Series is a one-dimensional array-like object containing
- an array of **data** (of any NumPy data type)
- an associated array of data labels, called its **index**.

It is the base pandas abstraction. You can thing of it as the love child of a numpy array and a dictionary, sort of-ish.

The simplest Series is formed from only an array of data:

In [ ]:
s = pd.Series([4, 7, -5, 3])
type(s)

In [ ]:
s

The string representation of a Series displayed interactively shows the index on the left and the values on the right. Since we did not specify an index for the data, a default one consisting of the integers 0 through N - 1 (where N is the length of the data) is created.

If we provide an index, pandas will use it. If not, it will automatically create one.

In [ ]:
s.index

Yep, that was Pandas [optimizing things](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.RangeIndex.html#:~:text=RangeIndex%20is%20a%20memory%2Dsaving,is%20provided%20by%20the%20user.). Same thing, we can ask our Series for just the values:

In [ ]:
s.values

Just to be sure, I told you this was a Numpy array. It is:

In [ ]:
type(s.values)

Often it will be desirable to create a Series with an index identifying each data point:

In [ ]:
s2 = pd.Series([1, 2, 4.5, 7, 2, 23, 15], index=list('javierc'))
s2

We were quite lazy back there providing the list, weren't we? 

Compared with a regular NumPy array, you can use values in the index when selecting single values or a set of values:

In [ ]:
s2['r']

Now, that's convenient.

NumPy array operations, such as filtering with a boolean array, scalar multiplication, or applying math functions, that you now know better than me, will preserve the index-value link:

In [ ]:
s2 % 2 == 0

We can similarly apply boolean selection operations to the Series:

In [ ]:
s2[s2 % 2 == 0]

...and go beyond pure logical operations, of course:

In [ ]:
s2 * 2

In [ ]:
np.exp(s2)

Note that these operations are not being applied on the original object, but rather in a copy that's being returned:

In [ ]:
s2

Another way to think about a Series is as a fixed-length, ordered dict, as it is a mapping of index values to data values (because, remember, a Python dictionary is unordered, and it can be extended). It can be substituted into many functions that expect a dict:

In [ ]:
'i' in s2

We can create Series from dictionaries:

In [ ]:
sdata = {
    'Zaragoza' : 2.5e5,
    'Sevilla': 5e5,
    'Cordoba': 3e5,
    'Madrid': 6e6}

s3 = pd.Series(sdata)
s3

We'll be using s3 later on, so because of the ephemeral nature of Colab, we'll store our Series in our Google Drive instead of redoing all the steps.

We'll be using as well a handy feature of Colab, which is [Colab Forms](https://colab.research.google.com/notebooks/forms.ipynb) to enable o disable the conditional execution of a code cell based on the UI input exposed by the form:

In [ ]:
#@title Saving s3 to Drive
import os
save_to_drive = True #@param {type:"boolean"}

if save_to_drive and files_loc:
  s3.to_pickle(os.path.join(files_loc,"s3.pkl"))
else:
  print('Please, mount Google Drive running the cell at the beginning and try again')

Let's check that our pickle file is there:

In [ ]:
!ls {files_loc}/s3.pkl

When only passing a dict, the index in the resulting Series will **not** have the dict’s keys in sorted order:

In [ ]:
s3

If you want the keys in sorted order, you need to explicitly define it with `sort_index()`:

In [ ]:
s3 = pd.Series(sdata).sort_index()
s3

You can control the ordering as well by explicitly defining the index order using a list:

In [ ]:
cities = ['Cordoba', 'Madrid', 'Valencia', 'Zaragoza']
s4 = pd.Series(sdata, index=cities)
s4

In this case, 3 values found in sdata were placed in the appropriate locations, but since no value for 'Valencia' was found, it appears as NaN (not a number) which is considered in pandas to mark missing or NA values. We will use the terms “missing” or “NA” to refer to missing data. The isnull and notnull functions in pandas should be used to detect missing data:

In [ ]:
pd.isnull(s4)

In [ ]:
pd.notnull(s4)

These can also be consumed as instance methods:

In [ ]:
s4.notnull()

A critical `Series` feature for many applications is that it automatically aligns differently-indexed data in arithmetic operations:

In [ ]:
s3 + s4

Both the Series object itself and its index have a name attribute, which integrates with other key areas of pandas functionality:

In [ ]:
s4.name = 'Population'
s4.index.name = 'Province'
s4

In [ ]:
s3

From what we've seen so far, it may look like the Series object is basically interchangeable with a one-dimensional NumPy array.

The essential difference is the presence of the index: while the Numpy Array has an implicitly defined integer index used to access the values, the Pandas Series has an explicitly defined index associated with the values.

### DataFrame

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). The DataFrame has both a row and column index; it can be thought of as a dict of Series (one for all sharing the same index).

Row-oriented and column-oriented operations in DataFrame are treated roughly symmetrically. Under the hood, the data is stored as one or more two-dimensional blocks rather than a list, dict, or some other collection of one-dimensional arrays.

This is the object you'll work most of the time with. It represents a table of _m_ observations x _n_ variables. Each variable, or column, is a Series.

There are numerous ways to construct a DataFrame, though one of the most common is from a dict of equal-length lists or NumPy arrays.

Let's discuss the naming of axes in Pandas, both for series and dataframes.

For Series, because is a one-dimensional array of values, we've got only **Axis 0**:

![Series axes](https://drive.google.com/uc?export=view&id=1unXqkxjezJiaocs1D-OM2vdj9ad8OLbs)

The dataframe, as we've just seen, is a two-dimensional structure. It has columns and row, colums made of separate Series objects. The axes in the dataframe are as follows, where if not explicitly mentioned, axis 0 will always make the default:

![Dataframe axes](https://drive.google.com/uc?export=view&id=1f8jKqZTURUoM5wV1yz_Ax9PrXSr-uITy)

Ok, enough theory. Let's go for some practice, defining a dataframe just as we said is quite common:

In [ ]:
dfdata = {
    'province' : ['M', 'M', 'M', 'B', 'B'],
    'population': [1.5e6, 2e6, 3e6, 5e5, 1.5e6],
    'year' : [1900, 1950, 2000, 1900, 2000]   
}

The resulting DataFrame will have its index assigned automatically as with Series, and the columns (axis 1) are placed in sorted order:

In [ ]:
df = pd.DataFrame(dfdata)
df

If you specify a sequence of columns, the DataFrame’s columns will be exactly what you pass, and as with Series, if you pass a column that isn’t contained in data, it will appear with NA values in the result:

In [ ]:
df2 = pd.DataFrame(dfdata, columns=['province','population', 'year', 'debt'])
df2

If we check the nature of the index in the dataframe, we can see we have the same as in Series:

In [ ]:
df2.index

There's a new property we can access called `columns`, where we can see we've got just another index:

In [ ]:
df2.columns

In [ ]:
type(df2.columns)

A column in a DataFrame can be retrieved as a Series either by dict-like notation or by attribute:

In [ ]:
df2['population']

In [ ]:
df2.population

Note that the returned Series have the same index as the DataFrame, and their name attribute has been appropriately set.

You can see that what's being returned is in fact a `Series` object, altough as of now it should be quite clear:

In [ ]:
type(df2.population)

Using this notation, we can add more columns and they will be indexed following the criteria already defined by the dataframe:

In [ ]:
df2['2nd_language'] = np.nan

When assigning lists or arrays to a column, the value’s length must match the length of the DataFrame. If you assign a Series, it will be instead conformed exactly to the DataFrame’s index, inserting missing values in any holes:

In [ ]:
df2['2nd_language']

But watch out with the naming used, you may hit some of the Python syntax constraints:

In [ ]:
df2.2nd_language

As with Series, we can name the index of the dataframe:

In [ ]:
df2.index = list('abcde')

In [ ]:
df2

This is not a RangeIndex anymore, but a regular Index:

In [ ]:
df2.index

We can access a particular row of the Dataframe using the property `loc`:

In [ ]:
df2.loc['c']

In [ ]:
type(df2.loc['c'])

`loc` admits a list or array of labels:

In [ ]:
df2.loc[['a', 'b']]

If we pass a list with the specific row instead of the label as is, we get the nice Dataframe formatting instead of the Series:

In [ ]:
df2.loc[['c']]

In [ ]:
type(df2.loc[['c']])

We can also pass it an slice object of labels:

In [ ]:
df2.loc['a':'c']

We can eve use a callable condition for matching rows:

In [ ]:
df2.loc[df2['year'] > 1950]

When assigning lists or arrays to a column, the value’s length must match the length of the DataFrame. If you assign a Series, it will be instead conformed exactly to the DataFrame’s index, inserting missing values in any holes:

In [ ]:
val = pd.Series([0.1, 0.6, 0.9], index=['b','d','e'])
val

So let's define values for a particular label or column by passing them as a list:

In [ ]:
df2['debt'] = [1,0,2,.5,.7]
df2

In [ ]:
df2['debt'] = val
df2

Assigning a column that doesn’t exist will create a new column:

In [ ]:
df2['capital'] = df2['province'] == 'M'
df2

The del keyword will delete columns as with a dict:

In [ ]:
del df2['2nd_language']
df2

In [ ]:
df2['2nd_language'] = np.nan

You can always transpose the Dataframe and it will switch the indexes in the corresponding axes:

In [ ]:
df2.T

The method `describe` computes a set of summary statistics for Servies of each DataFrame column:

In [ ]:
df2.describe()

Of course, we can transpose this as well:

In [ ]:
df2.describe().T

One simple way of counting/finding non nulls is to just apply the `count()` method on our dataframe:

In [ ]:
df2.count()

### Index objects

Pandas’s Index objects are responsible for holding the axis labels and other metadata (like the axis name or names). Any array or other sequence of labels used when constructing a Series or DataFrame is internally converted to an Index, which are immutable and can't be modified by you:

In [ ]:
df2.index[1] = 'x'

In [ ]:
df2.index[1]

Inmutability is important so that Index objects ca be safely shared amongst data structures:

In [ ]:
series_temp = pd.Series([1.5, -2.5, 0, 1, 2],df2.index)
series_temp

We can also manipulate rows by referencing the index location in a similar manner to what we saw before:

In [ ]:
df2.iloc[2:]

In [ ]:
#@title Saving df2 to Drive
import os
save_to_drive = True #@param {type:"boolean"}

if save_to_drive and files_loc:
  df2.to_pickle(os.path.join(files_loc,"df2.pkl"))
else:
  print('Please, mount Google Drive running the cell at the beginning and try again')

In [ ]:
!ls {files_loc}

In [ ]:
files_loc

### More on Loc and iLoc [optional practice]
See section 1 of the scrapbook.

### Dropping entries from an axis

Dropping one or more entries from an axis is easy if you have an index array or list without those entries. As that can require a bit of munging and set logic, the drop method will return a new object with the indicated value or values deleted from an axis.

Let's create a new series to demonstrate all this:

In [ ]:
s5 = pd.Series(np.arange(5), list('jduvk'))
s5

In [ ]:
s6 = s5.drop(['d','k'])
s6

Yes, we dropped elements present in the index defined by a list, but can we do just the opposite and keep the elements provided in a list while dropping everything else?:

In [ ]:
s6b = s5[s5.index.intersection(['d','k'])]
s6b

By default, `drop()` doesn't modify the original Series, it creates a copy. We can change that with the argument `inplace` that we'll see later on:

In [ ]:
s5

In [ ]:
s6['u'] = 7
s5

Let's now work with Dataframes. First, let's see dropping elements from axes in a dataframe:

In [ ]:
#@title Loading df2 from Drive
load_from_drive = True #@param {type:"boolean"}

if load_from_drive and files_loc:
  df2 = pd.read_pickle(os.path.join(files_loc,"df2.pkl"))
else:
  print('Please, mount Google Drive running the cell at the beginning and try again')

In [ ]:
df2

Using `drop` on the dataframe will operate on the defaul axis 0, meaning that the specified object needs to be a **row**:

In [ ]:
df2.drop('c')

Let's now select the columns axis (axis 1) to remove a specific **column**, in this case `2nd_language`:

In [ ]:
df2.drop('2nd_language', axis=1)

We can see that we didn't modify the dataframe. In fact, we can make a copy to it:

In [ ]:
df3 = df2.copy()
df3

Yes! the `copy()` method is in fact a deep copy and what we're avoiding is accidentally modifying the original dataframe. Let's have a look with another example (slight detour).

In [ ]:
df_detour = pd.DataFrame({'x': [1,2]})
df_sub = df_detour[0:1]
df_sub.x = -1
df_detour

Aha! We even get a warning... but let's continue and see how this, in contrast, leaves df_detour unchanged:

In [ ]:
df_detour = pd.DataFrame({'x': [1,2]})
df_sub_copy = df_detour[0:1].copy()
df_sub_copy.x = -1
df_detour

OK, going back to what we were doing!

As mentioned before, let's use the parameter `inplace` to modify the dataframe right away:

In [ ]:
df3.drop('capital', axis=1, inplace=True)
df3

### Indexing, selection, and filtering

The key here is that we can build boolean Series that we can use to index the original Series or DataFrame. Those booleans can be combined with bitwise boolean operators (&, |, ~) to get filters that are as complex as we need.

Let's revisit our `s3` series that we defined above:

In [ ]:
#@title Loading s3 from Drive
load_from_drive = True #@param {type:"boolean"}

if load_from_drive and files_loc:
  s3 = pd.read_pickle(os.path.join(files_loc,"s3.pkl"))
else:
  print('Please, mount Google Drive running the cell at the beginning and try again')

In [ ]:
s3

We can select elements from the Series just passing a list of them:

In [ ]:
s3[['Zaragoza', 'Madrid']]

Of course, we can use slice notation (remember we start at 0):

In [ ]:
s3[2:]

Slicing with labels behaves differently than normal Python slicing in that the endpoint is inclusive:

In [ ]:
s3['Sevilla':'Cordoba']

But be careful, because by using the index position we default back to good ol' Python behavior (not inclusive):

In [ ]:
s3[1:2]

We can apply a filter to the whole Series, generating in fact a boolean mask:

In [ ]:
s3 > 1e06

...and we can pass that boolean mask to the Series itself:

In [ ]:
s3[s3>1e06]

Let's work now with our dataframe `df3`:

In [ ]:
df3

First, let's build a boolean mask (filter) over the column `year` of our dataframe, which will give us a Series:

In [ ]:
df3['year'] > 1950

And then, let's apply that filter over the full dataframe. The dataframe will match the Series name against its columns and will proceed to filter out the rows (axis 0) that match the criteria:

In [ ]:
df3[df3['year'] > 1950]

We can combine all this, making more powerful filters:

In [ ]:
df3[(df3['year'] > 1900) & (df3['debt'] > 0.5)]

We can as well write this in a more elegant and Pythonic way:

In [ ]:
recent = df3['year'] > 1900
indebted = df3['debt'] > 0.5

df3[recent & indebted]

### Function application and mapping

Function application and mapping allows us to modify the elements of a DataFrame (columns with apply or elements with applymap) without for loops. This way we are not constrained to the functions already implemented by pandas or numpy.

In [ ]:
df3

In [ ]:
np.sqrt(df3['population'])

In [ ]:
df4 = pd.DataFrame(np.random.randn(4,3) * 17 + 15, columns=list('bde'), index=list('BMPZ'))
df4

In [ ]:
np.abs(df4)

This is a typical use case for lambdas (anonymous functions)

In [ ]:
df4.apply(lambda series: series.max() - series.min())

In [ ]:
df4.applymap(lambda element: element % 10 )

In [ ]:
df4.apply(lambda series: series.max() - series.min(), axis=1)

In [ ]:
def f(series):
    return pd.Series([series.max(), series.min()], index=['max', 'min'])

df4.apply(f)

In [ ]:
def f2(series):
  return pd.Series([series.max() - series.min()], index=['distance'])

df4.apply(f2)

In [ ]:
for item in df4.items():
    print(item)

In [ ]:
for item in df4.iteritems():
    print(item)

In [ ]:
map(f, [1,2])

In [ ]:
def format_2digits(number):
    return '%.2f' % number

In [ ]:
df4.applymap(format_2digits)

### Sorting and ranking

In [ ]:
df4

In [ ]:
df4.sort_index(ascending=True)

In [ ]:
df4.sort_index(ascending=False)

In [ ]:
df4.sort_index(ascending=False, axis=1)

In [ ]:
df4.sort_values(by='e')

We can sort by two columns

In [ ]:
df4.sort_values(by=['e','b'])

In [ ]:
s1 = pd.Series([2,3,8,4,3,2,1], index=list('abcdefg'))
s1

In [ ]:
s1.sort_values()

rank() returns the positions of the elements of the Series in its sorted version. If there are ties, it will take averages.

In [ ]:
s1.rank()

In [ ]:
pd.Series([1,1,1]).rank()

In [ ]:
s2 = pd.Series([30,10,20], index=list('abc'))
s2

In [ ]:
s2.rank()

In [ ]:
help(s2.rank)

#### Exercise

Write a function that takes a Series and returns the top 10% registers. In this case, earners. Test it with this Series:

```python
salaries = pd.Series([150000, 90000, 120000,30000,10000,5000,40000, 50000, 80000, 35000, 27000,14000, 28000, 22000,25000])
```

In [ ]:
salaries = pd.Series([150000, 90000, 120000,30000,10000,5000,40000, 50000, 80000, 35000, 27000,14000, 28000, 22000,25000])

In [ ]:
def top_earners(serie):
    number_to_extract = round(len(serie) / 10)
    return salaries.sort_values()[-number_to_extract:]

top_earners(salaries)

In [ ]:
def top_earners(serie, percentile=0.9):
    is_top_earner = serie.rank(pct=True) > percentile
    return serie[is_top_earner]

print(top_earners(salaries))
print(top_earners(salaries, .8))

## Summarizing and computing descriptive statistics

In [ ]:
x = pd.Series([1.2, np.nan, 4, np.nan, 9], index=list('abcde'))
y = pd.Series([5, 3, 7, np.nan, 14], index=list('abcde'))

df = pd.DataFrame([x, y], index=['x','y'])
df

In [ ]:
df = pd.DataFrame([x, y], index=['x','y']).T
df

In [ ]:
df.sum()

As with many methods, we can use them in the direction perpendicular to their default.

In [ ]:
df.sum(axis=1)

In [ ]:
pd.__version__

In [ ]:
df.sum(axis=1, skipna=False)

In [ ]:
df.mean()

In [ ]:
df.mean(axis=1)

In [ ]:
df.cumsum()

In [ ]:
df.std()

In [ ]:
df.describe()

In [ ]:
df['x'].sum()

In [ ]:
df['x'].describe()

### Unique values, value counts, and membership

In [ ]:
s7 = pd.Series(list('gtcaaagcttcga'))
s7

In [ ]:
s7.unique()

In [ ]:
s7.value_counts()

In [ ]:
puric_bases = ['a','g']
s7.isin(puric_bases)

In [ ]:
s7[s7.isin(puric_bases)]

## Handling missing data

In [ ]:
string_data = pd.Series(['Ma', 'Lu', 'Ca', 'Va', np.nan])
string_data

In [ ]:
string_data[string_data!=np.nan]

This is weird... but it has some really good reasons. You can find explanations [here](https://stackoverflow.com/questions/10034149/why-is-nan-not-equal-to-nan) and [here](https://stackoverflow.com/questions/1565164/what-is-the-rationale-for-all-comparisons-returning-false-for-ieee754-nan-values)

In [ ]:
np.nan == np.nan

In [ ]:
string_data[~string_data.isnull()]

### Filtering out missing data

In [ ]:
string_data[string_data.notnull()]

In [ ]:
df5 = pd.DataFrame([[1,2,3], 
                    [np.nan, 8, 7], 
                    [4, np.nan, 90], 
                    [67,42,53]], 
                   columns=list('abc'))
df5

In [ ]:
df5[df5['a'].notnull()]

In [ ]:
df5.notnull()

any() and all() are functions of boolean Series. They reduce the Series to a single boolean value by applying repeatedly the operators "or" and "and", respectively.

In [ ]:
df5.notnull().any()

In [ ]:
df5.notnull().all()

In [ ]:
df5.isnull().any()

In [ ]:
df5.dropna()

In [ ]:
df5

In [ ]:
df5.dropna(axis=1)

In [ ]:
array = np.random.randn(8,3) * 20 + 100

df6 = pd.DataFrame(array, columns=list('xyz'), index=list('abcdefgh'))
df6.iloc[2:5, 1] = np.nan
df6.iloc[1:3, 2] = np.nan
df6

The thresh argument specifies the minimum number of non-null values required to keep a column (or row, with axis=1)

In [ ]:
df6.dropna(thresh=2)

In [ ]:
df6.dropna(thresh=2, axis=1)

In [ ]:
df6.dropna(thresh=6, axis=1)

### Filling in missing data

In [ ]:
df6.fillna(0)

In [ ]:
df6.fillna({'x' : 100, 'y' : 50, 'z' : 20})

In [ ]:
df6

In [ ]:
df6.fillna(method='ffill')

In [ ]:
df6.fillna(df6.median())

In [ ]:
df6.median()

# Loading and saving data

## Loading CSV

Let's load information coming from the [US government bureau of Transportation Statistics](https://www.transtats.bts.gov/Tables.asp?DB_ID=111). For convenience, I've made this table available for you from Drive:

In [ ]:
!wget https://bit.ly/ks-pds-csv3 -O {files_loc}/T100I_SEGMENT_ALL_CARRIER.csv

Make sure the file is there, and store the path in a Python variable using a Linux shell filter:

In [ ]:
!ls {files_loc}

In [ ]:
contents = !ls {files_loc}/*csv2*
csv_file = contents[0] #storing the first occurrence of the filter, should be our file

In [ ]:
trafficDf = pd.read_csv(csv_file)

In [ ]:
len(trafficDf)

In [ ]:
trafficDf.head()

## Saving to Excel

Let's save the first 1000 rows of the dataframe in an Excel file:

In [ ]:
trafficDf.head(1000).to_excel(os.path.join(files_loc, "excel_output.xls"))

Again, check that the file got generated. If you've got Office, you can test this is indeed a proper excel file:

In [ ]:
!ls {files_loc}/*.xls

## Saving to CSV

Now, let's truncate our existing dataframe and save the first 10 rows into another CSV:

In [ ]:
trafficDf.head(10).to_csv()

In [ ]:
trafficDf.head(1000).to_csv(os.path.join(files_loc, "out.csv"))

In [ ]:
!ls {files_loc}/*.csv

## To Sql Database

Saving to a database with Pandas is trivial as well. For testing purposes, we'll be using a file-based sqlite3 database that we're creating from code:

In [ ]:
import sqlite3
conn = sqlite3.connect(os.path.join(files_loc,'example.db'))

In [ ]:
trafficDf.to_sql('traffic',conn, if_exists='replace')

In [ ]:
!ls {files_loc}

## To dictionary and to json

See documentation of [pandas.DataFrame.to_dict](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_dict.html) to understand different options for converting DataFrames to dictionaries:

In [ ]:
trafficDf.head(2).to_dict(orient='records')

Converting to JSON is quite similar:

In [ ]:
trafficDf.head(2).to_json(orient='records')

## Reading Excel

To practice reading from Excel, let's load what we saved previously:

In [ ]:
df2 = pd.read_excel(os.path.join(files_loc, "excel_output.xls"))

In [ ]:
df2.head()

If you explore the columns in the database above, you'll realize we brought back some unexpected visitors (columns named "Unnamed", in this case mostly from the own row system in Excel). If you do not want them (for example, to preserve the original dataframe structure that we saved above), you can apply a filter like the following:

In [ ]:
df2 = df2.loc[:, ~df2.columns.str.contains('^Unnamed')]
df2.head()

But we could avoid cleaning up unnamed columns by loading the Excel the right way:

In [ ]:
df2 = pd.read_excel(os.path.join(files_loc, "excel_output.xls"), index_col=0)
df2.head()

### The challenge

Let's download data from car accidents in Madrid straight from the source and explore the data a bit to understand the structure. You'll be doing an data consolidation exercise afterwards:

In [ ]:
!wget https://datos.madrid.es/egob/catalogo/207831-0-accidentes-trafico.xls -P {files_loc}

Again, we store the full file path into a Python variable for convenience:

In [ ]:
contents = !ls {files_loc}/*accidentes*
file_path = contents[0]

Then, we read the file and explore the structure:

In [ ]:
df_accidentes = pd.read_excel(file_path)

df_accidentes.head(10)

There are plenty of options we can use when reading an Excel file, here are some of them where we're selecting specific ranges of data and a named sheet from the full worksheet:

In [ ]:
df_accidentes = pd.read_excel(file_path, sheet_name='2016', index_col=0, skiprows=7, skipfooter=1, usecols='A:L')

df_accidentes.head()

Let's have a look at the data from 2010:

In [ ]:
accidentes_2010 = pd.read_excel(file_path, 
                                index_col=0, 
                                header=7, 
                                sheet_name='2010', 
                                skipfooter=1,
                                usecols='A:K')
accidentes_2010

Using `sheet_name=None` we load the full workbook. We can then access individual sheets by the sheet name as follows:

In [ ]:
all_accidents = pd.read_excel(file_path, index_col=0, header=7, sheet_name=None)
all_accidents['2009']

Let's iterate over all the elements of the data:

In [ ]:
for k, v in all_accidents.items():
    print(v)

What kind of structure are we dealing with here?

In [ ]:
type(all_accidents)

We printed the values in our loop above. What about the keys? What kind of data structure is the values? Play around a bit with this, you'll need to understand the structure of what you got to tackle the next exercise.

#### Exercise

Consolidate the excel into one DataFrame:
- You will need to create a 'YEAR' column.
- Think how you can iterate through all the DataFrames.
- Explore also where you can take the value of 'YEAR' from, from the comments in the code above it should be clear by now.

## Reading mysql database

Finally, let's read from the SQL database we created before:

In [ ]:
df3 = pd.read_sql_query("SELECT * from traffic", conn)

In [ ]:
df3.head()

# Additional References

[Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do)

[What is SciPy?](https://www.scipy.org/)

[How can SciPy be fast if it is written in an interpreted language like Python?](https://www.scipy.org/scipylib/faq.html#how-can-scipy-be-fast-if-it-is-written-in-an-interpreted-language-like-python)

[What is the difference between NumPy and SciPy?](https://www.scipy.org/scipylib/faq.html#what-is-the-difference-between-numpy-and-scipy)

[Linear Algebra for AI](https://github.com/fastai/fastai/blob/master/tutorials/linalg_pytorch.ipynb)